
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}*/

li {
    font-family: "Source+Sans+Pro", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #38DEFC;
    text-decoration: none;
}

a {
   
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}



h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 18px;
    
}
h3{
    color :#ff0000 ;
 }

header {
    background-color: #ffcc99;
     
    
}

footer {
    background-color: #ffcc99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}



h3 {
    font-weight: 500;
    font-size: 22px;
}

.preview {
    padding: 100px 30px;
    margin-left: 5%;
}

.dec {
    background-color: #38DEFC;
    border-style: solid;
    border-color: #C5C5C5;
}

.dec1 {
    background-color: #4D9DE0;
    border-style: solid;
    border-color: #C5C5C5;
}

.dec2 {
    background-color: #D44747;
    border-style: solid;
    border-color: #C5C5C5;
    color: #C5C5C5;
}

.p {
    background-color: #3FEEFF;
    border-style: solid;
    border-color: #C5C5C5;
}
.img1 {
    margin-left: 10%;
    width: 200px ;
    height : 100px ;
}
.sig1 {
    margin-top: 15px;
    padding-top: 6px;
    border-top: 1px dashed #ddd;
}
.pico1 {
    float: left;
    margin: 6px 5px 5px 0;
    padding-right: 5px;
   
}
.details {
    margin-top: 0px;
    margin-left: 74px
}
.d1 {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #333;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}
.d2 {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #333;
}
.d3 {
    font-size: 10px;
    line-height: 14px;
    margin: 5px 0;
    display: block;
    opacity: 0.8;
}
.d4 {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #333;
}
.set{
    color:#000000;
}




